@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-dark: #0f172a;
  --color-light-blue: #dbeafe;
  --color-background: #f8fafc;
  --color-card: #ffffff;
  --color-income: #16a34a;
  --color-expense: #dc2626;
  --gap-s: 0.626rem;
  --gap: 1.25rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-dark);
  margin: 0px;
}

.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background: var(--color-card);
}

button {
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.mb {
  margin-bottom: var(--gap);
}

.container {
  display: grid;
  padding: var(--gap);
  gap: var(--gap);
}
